<comment>
<link rel="stylesheet" type="text/css" href="/css/comment.css"/>
<h2>Comments</h2>
<ol id="comments">
  <li data-comment="1">
  <div class="detail">
    <div class="detailContent">
      <a name="comment-01"></a>
      <div class="meta">
        <span class="author">Wyvernbai</span>
        <a class="reply" href="/reply_to" title="Reply">Reply</a>
        <a href="#comment-01" class="time">September 20, 2012 @ 10:23 am</a>
      </div>
      <p>This is the first message from elvenhut</p>
    </div>
  </div>
  <img src="/css/img/user_comment.png" class="avatar" height="64" width="64">
  </li>
  <ul class="children">
    <li data-comment="1">
    <div class="detail">
      <div class="detailContent">
        <a name="comment-01"></a>
        <div class="meta">
          <span class="author">Wyvernbai</span>
          <a class="reply" href="/reply_to" title="Reply">Reply</a>
          <a href="#comment-01" class="time">September 20, 2012 @ 10:23 am</a>
        </div>
        <p>This is the first message from elvenhut</p>
      </div>
    </div>
    <img src="http://1.gravatar.com/avatar/b139109fa97cc3a87b32fe46070ebb17?s=32&d=monsterid&r=G" class="avatar" height="120" width="120">
    </li>
  </ul>
</ol>
<form action="<%= url + "/comment"%>" method="post" name="comment"> 

  <h2>Get In Touch With Us ...</h2>

  <fieldset id="user-details">	

    <label for="name">Name:</label>
    <input type="text" name="name" value="" placeholder="Required" /> 

    <label for="email">Email:</label> 
    <input type="email" name="email" value="" placeholder="Optional" /> 

    <label for="website">Website:</label> 
    <input type="url" name="website" value="" placeholder="Optional" /> 

  </fieldset><!--end user-details-->

  <fieldset id="user-message">

    <label for="message">Your Message:</label> 
    <textarea name="message" rows="0" cols="0"></textarea> 

    <input type="submit" value="Submit Message" name="submit" class="submit" />		

  </fieldset><!-- end user-message -->

</form>	

</comment>
