<div id="login">
	<h2>Admin Login</h2>
	<div id="formboby">
		<form method="post" autocomplete="off">
			<label for="login_field">
				<p>Username</p>
				<input type="text" name="username" />
			</label>
			<label for="password">
				<p>Password</p>
				<input type="password" name="password" />
			</label>
			<label for="submit_btn">
				<input type="submit" value="Login" class="button" />
			</label>
		</form>
	</div>	
</div>

