<form action="<%= url %>" method="post" name="edit">
<div class="postzoom">
	<h2 class="title">Title: <input type="text" name="title" /></h2>
	<p class="meta">Author: <input type="text" name="author" /></p>
	<div class="entry">
		<textarea name="content"></textarea>
	</div>
	<div class="edit"><input type="submit" value="Save" /></div>
</div>
</form>
