<div id="edit_post">
	<h2>Add a new post</h2>
	<form action="<%= url %>" method="post" name="edit">
		<div id="title_input">
			<input type="text" name="title" placeholder="Title (should not be null)" />
		</div>
		<div id="tag_input">
			<input type="text" name="tags" placeholder="Tags (split by ',(en)')"/>
		</div>
		<div id="author_input">
			<input type="text" name="author" placeholder="Author" />
		</div>
		<div id="content_input">
			<textarea name="content" rows="50" cols="2" ></textarea>
		</div>
		<div for="submit_btn">
			<input type="submit" value="Save" class="button" />
		</div>
	</form>
</div>
