<form action="<%= url %>" method="post" name="edit">
<div class="postzoom">
	<h2 class="title"><input type="text" name="title" /></h2>
	<p class="meta"><input type="text" name="tags" /></p>
	<p class="meta"><input type="text" name="url" /></p>
	<div class="entry">
		<textarea name="content"></textarea>
	</div>
	<div class="edit"><input type="submit" value="Save" /></div>
</div>
</form>
