<post>
	<header>
		<h2>
			<a href="<%= @article.id %>"><%= @article.title %></a>
		</h2>
		<h4><%= parse_date @article.created_at %></h4>
	</header>
	<%= markdown(File.read(@contentfilepath))%>
</post>
